*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --orange:#E78f0C;
    --lightGray:#CBD3D6;
    --mediumGray:#6e6e6e;
    --green:#205C1D; 
    --lightGreen:#478D44;

    font-family: 'DM Sans', sans-serif;
}

.hold{
   max-width: 375px;
    height: auto;
    margin: 0 auto;
}

/* rever essa parte do flexbox */
.balls{
    position: absolute;
    
}
.plant{
    
    position: relative;
    display: flex;
    width: 250px;
    top:0;
    right: -59px;
 
}
.orange{
    position: absolute;
    bottom:50px;
     
}
.gray{
    position:relative;
    display: flex;
    align-self: flex-end;
    top:-170px;
    right: -47px;
    
    
}

/* ---------------- */

h2{
   margin-left: 50px;
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: 10px;
    color: var(--green);
}

p{
    
    margin-bottom:10 px;
    color: var(--mediumGray);
    font-size: 10px;
    text-align: center;
}

button{
    width: 250px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    background-color: #205C1D;
    border-radius: 15px;
    height: 35px;
    border:none;
    top:15px;
    color: #CBD3D6;
    display: inline-block;
   margin-left:60px;

  
  
}
.info{
    margin-top: 31px;
}
input{
    border: none;
    border-bottom: 1px solid var(--green);
    margin-bottom: 20px;
    outline: 0;    
    width: 250px;
   
}

label{
    font-size: 10px;
    margin-bottom: 30px;
    color: var(--mediumGray);
   
}
.data{
    display:flex;
    flex-direction: column;
    margin-left: 60px;
    width: auto;
    margin-bottom: 0px;
    
  
}
/* ---------------invalid */

.fundoescuro{
    max-width: 375px;
    background-color: rgba(0, 0, 0, 0.52);
    
}